.contactsForm {
    display: inline-block;
    padding: 10px;
    border: 2px solid grey;
}

.title {
    margin-top: 0;
}

.submitButton {
    width: 100%;
    margin-top: 10px;
}

.label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

.inputGroup:not(:first-child) {
    margin-top: 10px;
}